<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/png">
        <title></title>
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../../resources/js/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../../resources/css/docs.min.css" rel="stylesheet" />
        <link href="../../resources/css/main.css" rel="stylesheet" />
        <script src="../../resources/js/jquery-1.10.2.min.js"></script>
        <script src="../../resources/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

        <link href="../../resources/css/4g.css" rel="stylesheet" />
        <link href="../../resources/css/buttons.css" rel="stylesheet" />

    </head>
    <body>
        
        <div class="container-fluid" style="height:50px;border-bottom:1px #eee solid;">
            <div class="row title">
                <div class="col-xs-2 col-md-2 "><a href="#"><i class="icon-angle-left icon-3x"></i></a></div>
                <div class="col-xs-8 col-md-8 text-center "><span>4G飞享18元套餐</span></div>
                <div class="col-xs-2 col-md-2 text-right title_share">
                    <a href="#"><img src="../../resources/images/share40.png" /></a>
                </div>
            </div>
        </div>


        
        

        <div class="container-fluid " style="padding-top: 20px;">
            <div class="col-xs-12 col-md-12 ">
                <table class="table table-bordered ">
                    <tr >
                        <td>资费</td>
                        <td class="text-center">18元/月</td>
                    </tr>
                    <tr class="info text-center">
                        <td colspan="2">套餐内</td>
                    </tr>
                    <tr>
                        <td>本地主叫</td>
                        <td class="text-center">0分钟</td>
                    </tr>
                    <tr>
                        <td>本地被叫</td>
                        <td class="text-center">免费</td>
                    </tr>
                    <tr class="info text-center">
                        <td colspan="2">套餐外</td>
                    </tr>
                    <tr>
                        <td>本地主叫</td>
                        <td class="text-center">0.19元/分钟</td>
                    </tr>
                    <tr>
                        <td>漫游主叫</td>
                        <td class="text-center">0.6元/分钟</td>
                    </tr>
                    <tr>
                        <td>漫游被叫</td>
                        <td class="text-center">0.4元/分钟</td>
                    </tr>
                    <tr>
                        <td>国内数据流量</td>
                        <td class="text-center">0.29元/分钟</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="container-fluid text-center" style="padding-top: 20px;">
            <input value="立 即 办 理" class="button button-pill button-primary" type="submit">
        </div>
        <div class="container-fluid ywgz" style="padding-top: 20px;">
            <p>业务规则：</p>
            <p>1、以上套餐内容、资费适用范围均不包含港澳台地区；</p>
            <p>2、套餐内流量均为2/3/4G兼容；</p>
            <p>3、套餐中的国内通话分钟数不含可视电话，可视电话国内主叫0.6元/分钟，国内被叫免费；</p>
            <p>4、4G飞享套餐订购成功后会替代您原有基础套餐；</p>
            <p>5、新入网客户办理立即生效；老客户办理次月生效；</p>
            <p>6、套餐外短信0.1元/条，套餐外彩信0.5元/条；</p>
            <p>7、套餐内包含语音、流量等业务量需要在计费周期内使用完毕，到期后自动失效，不滚存至下一计费周期；</p>
            <p>8、为保护客户利益，避免产生高额流量费，4G流量资费采取500元15GB双封顶原则，其中500元和15GB均为套餐外费用和流量； 且每月实行流量50GB封顶。当您的流量达到50G封顶值后，我们将停止您的当月流量使用功能，次月恢复。</p>
        </div>

       
    </body>
</html>


