<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/png">
        <title></title>
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../../resources/js/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../../resources/css/docs.min.css" rel="stylesheet" />
        <link href="../../resources/css/main.css" rel="stylesheet" />
        <script src="../../resources/js/jquery-1.10.2.min.js"></script>
        <script src="../../resources/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <link href="../../resources/css/4g.css" rel="stylesheet" />
        

    </head>
    <body>
        
        <div class="container-fluid" style="height:50px;border-bottom:1px #eee solid;">
            <div class="row title">
                <div class="col-xs-2 col-md-2 "><a href="#"><i class="icon-angle-left icon-3x"></i></a></div>
                <div class="col-xs-8 col-md-8 text-center "><span>分类</span></div>
                <div class="col-xs-2 col-md-2 text-right title_share">
                    <a href="#"><img src="../../resources/images/share40.png" /></a>
                </div>
            </div>
        </div>
        <div class="container-fluid menu2" style="height:85px;">
            <div class="row">
                <div class="col-xs-4 col-md-4 text-center " style="border-right:1px #eee solid;">充值优惠</div>
                <div class="col-xs-4 col-md-4 text-center active">流量专区</div>
                <div class="col-xs-4 col-md-4 text-center " style="border-left:1px #eee solid;">4G专区</div>
            </div>
            
        </div>
        <div class="container-fluid" style="height:5px;background-color:#eee;">
            <div class="row">
            </div>
        </div>

        <div class="container-fluid" style="padding-top:20px;">
            <div class="row text-left ">
                <div class="col-md-12" style="border-bottom:1px #eee solid;margin-bottom:15px;">
                    <div class="bs-docs-section">
                        <h3 id="type-headings">
                            4G飞享套餐
                        </h3>
                    </div>                    
                </div>                
            </div>
            <div class="col-md-12" >
                <a href="4g_detail.html">
                    <div class="col-xs-6 col-md-6" role="main" style="max-width:50%;min-width:315px;" >
                        <div class="media">
                            <div class="media-left" style="padding-right:0px;height:56px;">
                                <img src="../../resources/images/liuliang56.png" />
                            </div>
                            <div class="media-body" style="padding:0px;border:1px #eee solid;max-height:56px;padding-left:10px;">
                                <h4 class="media-heading" style="margin-top:4px;margin-bottom:0px;padding-bottom:0px;">5元30兆叠加套餐</h4>
                                <span style="padding-top:1px;margin-top:0px;">30兆国内流量</span>
                                <span style="color:#f00;position:absolute;right: 30px;top: 15px;font-size:20px;">￥5</span>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="col-xs-6 col-md-6" role="main" style="max-width:50%;" >
                    <div class="media">
                        <div class="media-left" style="padding-right:0px;height:56px;">
                            <img src="../../resources/images/liuliang56.png" />
                        </div>
                        <div class="media-body" style="padding:0px;border:1px #eee solid;max-height:56px;padding-left:10px;">
                            <h4 class="media-heading" style="margin-top:4px;margin-bottom:0px;padding-bottom:0px;">5元30兆叠加套餐</h4>
                            <span style="padding-top:1px;margin-top:0px;">30兆国内流量</span>
                            <span style="color:#f00;position:absolute;right: 30px;top: 15px;font-size:20px;">￥5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding-top:20px;">    
            <div class="row text-left " >
                <div class="col-md-12" style="border-bottom:1px #eee solid;margin-bottom:15px;">
                    <div class="bs-docs-section">
                        <h3 id="H1">
                            流量巨优惠
                        </h3>
                    </div>                    
                </div>
            </div>
            <div class="col-md-12" >
                <div class="col-xs-6 col-md-6" role="main" style="max-width:50%;" >
                    <div class="media">
                        <div class="media-left" style="padding-right:0px;height:56px;">
                            <img src="../../resources/images/liuliang56.png" />
                        </div>
                        <div class="media-body" style="padding:0px;border:1px #eee solid;max-height:56px;padding-left:10px;">
                            <h4 class="media-heading" style="margin-top:4px;margin-bottom:0px;padding-bottom:0px;">5元30兆叠加套餐</h4>
                            <span style="padding-top:1px;margin-top:0px;">30兆国内流量</span>
                            <span style="color:#f00;position:absolute;right: 30px;top: 15px;font-size:20px;">￥5</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6" role="main" style="max-width:50%;" >
                    <div class="media">
                        <div class="media-left" style="padding-right:0px;height:56px;">
                            <img src="../../resources/images/liuliang56.png" />
                        </div>
                        <div class="media-body" style="padding:0px;border:1px #eee solid;max-height:56px;padding-left:10px;">
                            <h4 class="media-heading" style="margin-top:4px;margin-bottom:0px;padding-bottom:0px;">5元30兆叠加套餐</h4>
                            <span style="padding-top:1px;margin-top:0px;">30兆国内流量</span>
                            <span style="color:#f00;position:absolute;right: 30px;top: 15px;font-size:20px;">￥5</span>
                        </div>
                    </div>
                </div>
            </div>

             
        </div>
        


        <div class="container-fluid" style="padding-top:20px;">
           
        </div>
    </body>
</html>


