<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/png">
    <title></title>
    <script src="../../resources/js/jquery-1.10.2.min.js"></script>
    <script src="../../resources/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>


    <script>
        $(function () {

        });
    </script>

</head>
<body>
    
</body>
</html>


