<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/png">
        <title></title>
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../../resources/js/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../../resources/css/docs.min.css" rel="stylesheet" />
        <link href="../../resources/css/main.css" rel="stylesheet" />
        <script src="../../resources/js/jquery-1.10.2.min.js"></script>
        <script src="../../resources/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

        <link href="../../resources/css/4g.css" rel="stylesheet" />
        <link href="../../resources/css/buttons.css" rel="stylesheet" />
        <style>
            #my_bill_info p {
                font-size:24px;
                line-height:40px;
            }

            .table_my_yw_detail > p {
                font-size:20px;
                line-height:23px;
                padding-top:10px;
            }
            
        </style>
    </head>

    <body>
        
        <div class="container-fluid" style="height:50px;border-bottom:1px #eee solid;">
            <div class="row title">
                <div class="col-xs-2 col-md-2 "><a href="#"><i class="icon-angle-left icon-3x"></i></a></div>
                <div class="col-xs-8 col-md-8 text-center "><span>我的业务</span></div>
                <div class="col-xs-2 col-md-2 text-right title_share">
                    <a href="#"><img src="../../resources/images/share40.png" /></a>
                </div>
            </div>
        </div>


        <div class="container-fluid" style="padding-left:0px;padding-right:0px;max-width: 650px;margin-top:20px;">
            <div class="row" style="height:16px;background-color:#eee;border-top:0px #ccc solid;border-bottom:0px #ccc solid;margin:0px;"></div>
            <div class="bs-callout bs-callout-danger" style="margin:0px;border-radius:0px;border-width: 1px 1px 1px 30px;border-left-color:#01A0EB;">
                <h3>我的资料</h3>
            </div>
        </div>
        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;border-left:1px #eee solid;border-right:1px #eee solid;">
            <div id="my_bill_info" class="row color_666" style="padding:20px;">

                <p>机主姓名：**</p>
                <p>网龄：3年10月</p>
                <p>星级：二星级客户</p>
                <p>计费周期：2015年11月01日至2014年11月30日</p>
                <p>本月套餐：4G分享18套餐</p>
                <p>次月套餐：4G畅聊138套餐</p>
                <p>客户经理：XX 13500000000</p>
            </div>
        </div>


        <div class="container-fluid" style="padding-left:0px;padding-right:0px;max-width: 650px;margin-top:0px;">
            <div class="row" style="height:16px;background-color:#eee;border-top:0px #ccc solid;border-bottom:0px #ccc solid;margin:0px;"></div>
            <div class="bs-callout bs-callout-danger" style="margin:0px;border-radius:0px;border-width: 1px 1px 1px 30px;border-left-color:#01A0EB;">
                <h3>我的业务</h3>
            </div>
        </div>
        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;border-left:1px #eee solid;border-right:1px #eee solid;">
            <table class="table table_no_top">
                <tr>
                    <td class="table_my_yw_detail">
                        <h2 style="margin-top: 10px;">来电显示</h2>
                        <p>生效时间：2010-11-15    失效时间：2015-11-15</p>
                        <p>状态：当前生效</p>
                    </td>
                    <td style="width: 115px; line-height: 120px;">
                        <input value="退订" class="button button-pill button-primary" type="submit">
                    </td>
                </tr>
            </table>
            <hr />
            <table class="table table_no_top " style="">
                <tr>
                    <td class="table_my_yw_detail">
                        <h2 style="margin-top: 10px;">来电显示</h2>
                        <p>生效时间：2010-11-15    失效时间：2015-11-15</p>
                        <p>状态：当前生效</p>
                    </td>
                    <td style="width: 115px; line-height: 120px;">
                        <input value="退订" class="button button-pill button-primary" type="submit">
                    </td>
                </tr>
            </table>
        </div>

        



        <div class="container-fluid" style="padding-left:0px;padding-right:0px;max-width: 650px;margin-top:0px;">
            <div class="row" style="height:16px;background-color:#eee;border-top:0px #ccc solid;border-bottom:0px #ccc solid;margin:0px;"></div>
            <div class="bs-callout bs-callout-danger" style="margin:0px;border-radius:0px;border-width: 1px 1px 1px 30px;border-left-color:#01A0EB;">
                <h3>我的增值业务</h3>
            </div>
        </div>
        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;border-left:1px #eee solid;border-right:1px #eee solid;">
            <table class="table table_no_top " style="">
                <tr>
                    <td class="table_my_yw_detail">
                        <h2 style="margin-top: 10px;">来电显示</h2>
                        <p>生效时间：2010-11-15    失效时间：2015-11-15</p>
                        <p>状态：当前生效</p>
                    </td>
                    <td style="width: 115px; line-height: 120px;">
                        <input value="退订" class="button button-pill button-primary" type="submit">
                    </td>
                </tr>
            </table>
            <hr />
            <table class="table table_no_top " style="">
                <tr>
                    <td class="table_my_yw_detail">
                        <h2 style="margin-top: 10px;">来电显示</h2>
                        <p>生效时间：2010-11-15    失效时间：2015-11-15</p>
                        <p>状态：当前生效</p>
                    </td>
                    <td style="width: 115px; line-height: 120px;">
                        <input value="退订" class="button button-pill button-primary" type="submit">
                    </td>
                </tr>
            </table>
        </div>
        


        

        
    </body>
</html>


