<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/png">
        <title></title>
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../../resources/js/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../../resources/css/docs.min.css" rel="stylesheet" />
        <link href="../../resources/css/main.css" rel="stylesheet" />
        <script src="../../resources/js/jquery-1.10.2.min.js"></script>
        <script src="../../resources/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

        <link href="../../resources/css/4g.css" rel="stylesheet" />
        <link href="../../resources/css/buttons.css" rel="stylesheet" />
        <style>
            .tcselect {
                font-family: "微软雅黑 Regular","微软雅黑";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                height: 65px;
                position: relative;
                width: 146px;
            }

            .tc_title {
                left: 2px;
                position: absolute;
                top: 18px;
                width: 141px;
                word-wrap: break-word;
            }
            

            .ls_detail_info > tbody > tr > td{
                font-size:20px;
            }
        </style>
    </head>

    <body>
        
        <div class="container-fluid" style="height:50px;border-bottom:1px #eee solid;">
            <div class="row title">
                <div class="col-xs-2 col-md-2 "><a href="#"><i class="icon-angle-left icon-3x"></i></a></div>
                <div class="col-xs-8 col-md-8 text-center "><span>数据流量叠加套餐</span></div>
                <div class="col-xs-2 col-md-2 text-right title_share">
                    <a href="#"><img src="../../resources/images/share40.png" /></a>
                </div>
            </div>
        </div>

        <div class="container-fluid " style="padding-top: 20px;max-width:650px;">
            <div class="col-xs-12 col-md-12 ">
                <table class="table table_no_top" style="">
                    <tr >
                        <td style="width:92px;"><img src="../../resources/images/liuliang92.png" style="width:150px;"/></td>
                        <td class="text-left">
                            <h3>数据流量叠加套餐</h3>
                            <h4 style="padding-top:10px;line-height:23px;">数据流量叠加套餐是中国移动在数据流量基础类套餐的基础上开发的一种数据流量优惠套餐。用户可根据自己当月流量使用的实际情况，在数据流量5元、10元、20元三档套餐中选择进行叠加。</h4>
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>
        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;">
            <table class="table table_no_top" style="">
                <tr>
                    <td>
                        <div class="tcselect selected" selectiongroup="" data-label="5元" style="cursor: pointer;">
                            <img id="u65_img" class="img selected" src="../../resources/images/lltc_selected.png" tabindex="0" style="">
                            <div class="text tc_title">
                                <p id="cache0" class="text-center">
                                    <span style="font-weight: 400; font-style: normal;">5元叠加套餐</span>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="tcselect selected" selectiongroup="" data-label="5元" style="cursor: pointer;">
                            <img id="Img2" class="img selected" src="../../resources/images/lltc_normal.png" tabindex="0" style="">
                            <div class="text tc_title">
                                <p id="P2" class="text-center">
                                    <span style="font-weight: 400; font-style: normal;">10元叠加套餐</span>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="tcselect selected" selectiongroup="" data-label="5元" style="cursor: pointer;">
                            <img id="Img3" class="img selected" src="../../resources/images/lltc_normal.png" tabindex="0" style="">
                            <div class="text tc_title">
                                <p id="P3" class="text-center">
                                    <span style="font-weight: 400; font-style: normal;">20元叠加套餐</span>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;">
            <div class="container-fluid " style="padding-top: 20px;">
            <div class="col-xs-12 col-md-12 ">
                <table class="table table-bordered ls_detail_info">
                    <tr >
                        <td class="info">国内流量</td>
                        <td class="text-center">30M</td>
                    </tr>
                    
                    <tr>
                        <td class="info">套餐外流量</td>
                        <td class="text-center">0.29元/M</td>
                    </tr>
                    <tr>
                        <td class="info">备注</td>
                        <td class="text-center">-</td>
                    </tr>
                   
                    
                </table>
            </div>
        </div>
        </div>


        <div class="container-fluid text-center" style="padding-top: 20px;">
            <input value="立 即 办 理" class="button button-pill button-primary" type="submit">
        </div>
        <div class="container-fluid ywgz" style="padding-top: 20px;max-width:650px;">


            <p>业务规则：</p>
            <p>1、办理叠加套餐立即生效，月底自动取消；</p>
            <p>2、叠加套餐之间不互斥，可以交叉办理。数据流量叠加套餐本身单月可以叠加开通不超过10次（含10次）。</p>
            <p>3、数据流量叠加套餐不区分上下半月。</p>
            <p>4、数据流量叠加套餐与发烧友绝对互斥，用户开通发烧友俱乐部当月不能申请数据流量叠加套餐，只能等到取消发烧友套餐生效后才能办理。</p>

        </div>

       
    </body>
</html>


