<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/png">
        <title></title>
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../../resources/js/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../../resources/css/docs.min.css" rel="stylesheet" />
        <link href="../../resources/css/main.css" rel="stylesheet" />
        <script src="../../resources/js/jquery-1.10.2.min.js"></script>
        <script src="../../resources/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

        <link href="../../resources/css/4g.css" rel="stylesheet" />
        <link href="../../resources/css/buttons.css" rel="stylesheet" />
        <style>
            .progress-bar-yd {
                background-image: linear-gradient(to bottom, #01a0eb 0px, #01a0eb 100%);
                background-repeat: repeat-x;
            }

            .progress {
                background-color: #f5f5f5;
                border-radius: 20px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
                height: 30px;
                margin-bottom: 20px;
                overflow: hidden;
                margin-top:20px;
            }
            .detial_info > div {
                margin-top:10px;
            }
            .detial_info > div > p {
                font-size: 18px;
                line-height: 28px;
            }
        </style>
    </head>

    <body>
        
        <div class="container-fluid" style="height:50px;border-bottom:1px #eee solid;">
            <div class="row title">
                <div class="col-xs-2 col-md-2 "><a href="#"><i class="icon-angle-left icon-3x"></i></a></div>
                <div class="col-xs-8 col-md-8 text-center "><span>套餐余量查询</span></div>
                <div class="col-xs-2 col-md-2 text-right title_share">
                    <a href="#"><img src="../../resources/images/share40.png" /></a>
                </div>
            </div>
        </div>

        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;">
            <div class="row">
                <h2 class="text-center">语音通话</h2>
                <hr class="hr5"/>
            </div>
            <div class="row">
                <table class="table table_no_top" style="">
                    <tr>
                        <td style="width:115px;">
                            <img src="../../resources/images/icon_yyth.png" />
                        </td>
                        <td>
                            <h4 style="margin-top:10px;">共200分钟</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-yd" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td class="detial_info" style="width:180px;">
                            <div>
                                <p>已使用：200分钟</p>
                                <p>剩余：200分钟</p>
                                <p>剩余日均：30分钟</p>
                            </div>
                        
                        </td>
                    </tr>
                </table>
                <div class="row" style="height:16px;background-color:#f5f5f5;"></div>
            </div>
        </div>


        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;">

            <div class="row">
                <h2 class="text-center">数据流量</h2>
                <hr class="hr5"/>
            </div>
            <div class="row">
                <table class="table table_no_top" style="">
                    <tr>
                        <td style="width:115px;">
                            <img src="../../resources/images/icon_sjll.png" />
                        </td>
                        <td>
                            <h4 style="margin-top:10px;">共200M</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-yd" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td class="detial_info" style="width:180px;">
                            <div>
                                <p>已使用：200M</p>
                                <p>剩余：200M</p>
                                <p>剩余日均：30M</p>
                            </div>
                        
                        </td>
                    </tr>
                </table>
                <div class="row" style="height:16px;background-color:#f5f5f5;"></div>
            </div>
        </div>


        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;">

            <div class="row">
                <h2 class="text-center">短信</h2>
                <hr class="hr5"/>
            </div>
            <div class="row">
                <table class="table table_no_top" style="">
                    <tr>
                        <td style="width:115px;">
                            <img src="../../resources/images/icon_sms.png" />
                        </td>
                        <td>
                            <h4 style="margin-top:10px;">共200条</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-yd" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td class="detial_info" style="width:180px;">
                            <div>
                                <p>已使用：200条</p>
                                <p>剩余：200条</p>
                                <p>剩余日均：30条</p>
                            </div>
                        
                        </td>
                    </tr>
                </table>
                <div class="row" style="height:16px;background-color:#f5f5f5;"></div>
            </div>
        </div>


        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;">

            <div class="row">
                <h2 class="text-center">彩信</h2>
                <hr class="hr5"/>
            </div>
            <div class="row">
                <table class="table table_no_top" style="">
                    <tr>
                        <td style="width:115px;">
                            <img src="../../resources/images/icon_sms.png" />
                        </td>
                        <td>
                            <h4 style="margin-top:10px;">共200条</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-yd" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td class="detial_info" style="width:180px;">
                            <div>
                                <p>已使用：200条</p>
                                <p>剩余：200条</p>
                                <p>剩余日均：30条</p>
                            </div>
                        
                        </td>
                    </tr>
                </table>
                <div class="row" style="height:16px;background-color:#f5f5f5;"></div>
            </div>
        </div>


        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;">

            <div class="row">
                <h2 class="text-center">合家欢</h2>
                <hr class="hr5"/>
            </div>
            <div class="row">
                <table class="table table_no_top" style="">
                    <tr>
                        <td style="width:115px;">
                            <img src="../../resources/images/icon_hjh.png" />
                        </td>
                        <td>
                            <h4 style="margin-top:10px;">共200分钟</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-yd" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td class="detial_info" style="width:180px;">
                            <div>
                                <p>已使用：200分钟</p>
                                <p>剩余：200分钟</p>
                                <p>剩余日均：30分钟</p>
                            </div>
                        
                        </td>
                    </tr>
                </table>
                <div class="row" style="height:16px;background-color:#f5f5f5;"></div>
            </div>
        </div>
    </body>
</html>


