<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/png">
        <title></title>
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="../../resources/js/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../../resources/css/docs.min.css" rel="stylesheet" />
        <link href="../../resources/css/main.css" rel="stylesheet" />
        <script src="../../resources/js/jquery-1.10.2.min.js"></script>
        <script src="../../resources/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

        <link href="../../resources/css/4g.css" rel="stylesheet" />
        <link href="../../resources/css/buttons.css" rel="stylesheet" />
        <style>
            #my_bill_info p {
                font-size:26px;
                line-height:50px;
            }

            #table_detail ,.table_jf_detail{
                font-size:26px;
                color:#666;
            }


            #table_detail tr:first-child, tr:last-child{
                height:50px;
            }

            #table_detail tr > td:first-child{
                padding-left:20px;
            }

            .table_jf_detail tr > td:first-child{
                padding-left:20px;
            }
            #jf_desc {
                line-height:45px;
                font-size:24px;
                padding-left:20px;
                padding-top:16px;
            }
        </style>
    </head>

    <body>
        
        <div class="container-fluid" style="height:50px;border-bottom:1px #eee solid;">
            <div class="row title">
                <div class="col-xs-2 col-md-2 "><a href="#"><i class="icon-angle-left icon-3x"></i></a></div>
                <div class="col-xs-8 col-md-8 text-center "><span>赠费记录查询</span></div>
                <div class="col-xs-2 col-md-2 text-right title_share">
                    <a href="#"><img src="../../resources/images/share40.png" /></a>
                </div>
            </div>
        </div>

       
        <div class="container-fluid " style="padding-top: 20px; max-width: 650px;padding-left: 0px;padding-right: 0px;">
            <div class="row " style="margin:10px 0px;">
                <table class="table_jf_detail table table-bordered" style="">
                    <tr>
                        <td>
                            活动名称
                        </td>
                        <td>
                            数据业务营销送费
                        </td> 
                    </tr>
                    <tr class="">
                        <td>
                            送费金额
                        </td>
                        <td>
                            100元
                        </td>                    
                    </tr>
                    <tr class="">
                        <td>
                            已送金额
                        </td>
                        <td>
                            100元
                        </td>                    
                    </tr>
                    <tr class="">
                        <td>
                            时间
                        </td>
                        <td>
                            2014-09-01至2014-10-01
                        </td>                    
                    </tr>
                </table>
            </div>

            <div class="row " style="margin:10px 0px;">
                <table class="table_jf_detail table table-bordered" style="">
                    <tr>
                        <td>
                            活动名称
                        </td>
                        <td>
                            数据业务营销送费
                        </td> 
                    </tr>
                    <tr class="">
                        <td>
                            送费金额
                        </td>
                        <td>
                            100元
                        </td>                    
                    </tr>
                    <tr class="">
                        <td>
                            已送金额
                        </td>
                        <td>
                            100元
                        </td>                    
                    </tr>
                    <tr class="">
                        <td>
                            时间
                        </td>
                        <td>
                            2014-09-01至2014-10-01
                        </td>                    
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>


